<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script type="text/javascript">
  var updateFailureNumber = function() {
    $.getJSON('/getFailureNumber', {sheet: $('#sheet').val()}, function(data) {
      if(data.err) {
        $('#failureNumber').val("Fehler");
      } else {
        $('#failureNumber').val(data.nr);
      }
    });
  }
  
  var ajaxLoadImage = $("<img src='/images/ajax-loader.gif' style='width: 1em'/>");
  var checkImage = $("<img src='/images/check.png' style='width: 1em' />");
  
  $(document).ready(function() {
    $("*[data-type='content']").hide();
    $("*[data-type='long-text']").hide();
    $("form").each(function() {
      var status_element = $(this).find("*[data-type='status']");
      $(this).ajaxForm({        
        success: function() {
          status_element.empty();
          status_element.append(checkImage.clone());
        },
        dataType: 'json'
      });
    });
  });
  
  function find_post_div(element) {
    return element.parents('*[data-content=\'post\']');
  }
  
  function toggle_expand(element) {
    if(typeof element.data('expanded') === 'undefined' || !element.data('expanded')) {
      element.find("*[data-type='folded']").hide();
      element.find("*[data-type='content']").show();
      element.data('expanded', true);
    } else {
      element.find("*[data-type='folded']").show();
      element.find("*[data-type='content']").hide();
      element.data('expanded', false);
    }
  }
  
  function toggle_content(element) {
    
    if(typeof element.data('content') === 'undefined' || element.data('content') == 'overview') {
      element.find("*[data-type='long-text']").show();
      element.find("*[data-type='overview']").hide();
      element.data('content', 'long-text');
    } else {
      element.find("*[data-type='overview']").show();
      element.find("*[data-type='long-text']").hide();
      element.data('content', 'overview');
    }
  }
  
  function save(element) {
    var status_element = element.find("*[data-type='status']");
    var form = element.parents("form:first");
    
    status_element.empty();
    status_element.append(ajaxLoadImage.clone());
    
    form.submit();
  }
</script>
<style>
.roundborder {
  width: 42.3em;
  border-radius: 0.4em;
  border: 0.1em solid gray;
  padding: 0.5em;
  background: #ddd;
  margin: 0.5em 0.5em 0em 0.5em;
}

.whiteroundborder {
  width: 42.3em;
  border-radius: 0em 0em 0.4em 0.4em;
  border: 0.1em solid gray;
  padding: 0.5em;
  background: #fff;
  margin: -0.5em 0.5em 0.5em 0.5em;
}

.linklike {
  text-decoration: underline; 
  color: blue; 
  cursor: pointer;
}
</style>

<article class="content">
    <time datetime="2011-10-14" pubdate="pubdate">
        <ul>
            <li>14</li>
            <li>Oktober</li>
            <li>2011</li>
        </ul>
    </time>
    <hgroup>
        <h1>Titel eines Posts</h1>
    </hgroup>
    <section>
        <% for(var i in posts) { %>
        <% var post = posts[i]; %>
          <form method="POST" action="/post/edit">
            <div data-content="post">
              <input type="hidden" name="id" value="<%- post._id %>" />
              <input type="hidden" name="published" value="false" />
              <div data-type="folded" class="roundborder">
                <table style="width: 100%; margin:0; padding:0;">
                  <tr>
                    <td>
                      <span style="font-weight: bold; color: #666"><%= post.title %></span>
                      <span style="color: #666">(Sheet <%= post.sheet %> - Nr <%= post.nr %>)</span>
                    </td>
                    <td style="text-align: right;">
                      <span style="font-family: Guifx2; cursor: pointer;" onClick="toggle_expand($(this).parents('*[data-content=\'post\']'))">&gt;</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div data-type="content">
                <div class="roundborder" data-type="editable-title">
                  Titel: <input type="text" name="title" value="<%- post.title %>"/>
                  <select name="sheet" id="sheet" onChange="updateFailureNumber()">
                    <option value="-1">&gt;&gt; wählen &lt;&lt;</option>
                    <% for(var i=1; i<=12; i++) { %>
                      <option value="<%- i %> " <%- (i==post.nr) ? "selected='yes'" : ""  %>>Sheet <%= i %></option>
                    <% } %>
                  </select>
                  <span style="margin-left: 9em">Nr:</span>
                  <input type="text" name="nr" id="failureNumber" value="<%- post.nr %>" readonly="yes" style="width:2em;"/>
                  <span style="font-family: Guifx2; cursor: pointer" onClick="toggle_expand($(this).parents('*[data-content=\'post\']'))">,</span>
                </div>
                <div class="whiteroundborder" data-type="overview">
                  Beschreibung:<br />
                  <textarea name="description" style="width: 100%; height: 10em;"><%- post.description %></textarea>
                  <div style="margin:auto; text-align: right"><span style="text-decoration: underline; color: blue; cursor: pointer;" onClick="toggle_content($(this).parents('div[data-content=\'post\']'))">Content bearbeiten</span></div>
                </div>
                <div class="whiteroundborder" data-type="long-text">
                  Bibliotheken:<br>
                  <input type="checkbox" name="need.images" <%- (post.imports.indexOf('images') != -1) ? 'checked' : '' %> /> Bilder<br />
                  <input type="checkbox" name="need.syntax-highlighting" <%- (post.imports.indexOf('syntax-highlighting') != -1) ? 'checked' : '' %> />Syntax Highlighting<br />
                  Content:<br>
                  <textarea name="content" style="width: 100%; height: 40em;"><%- post.content %></textarea>
          
                  <table style="margin:0; padding: 0; width: 100%">
                    <tr>
                      <td><div data-type="status" style="margin-left: 0.5em;"></div></td>
                      <td style="text-align: right">
                        <input type="button" value="speichern" onClick="save(find_post_div($(this)))"/>
                        <input type="button" value="publishen" onClick="publish($(this).parents('*[data-type=\'post\')'))"/>
                        <span class="linklike" onClick="toggle_content($(this).parents('div[data-content=\'post\']'))">
                          Beschreibung bearbeiten
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </form>
        <% } %>
        <div style="text-align: right; font-size: 2em; cursor: pointer; margin-right: 0.35em;">
          +
        </div>
    </section>
</article>