<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script type="text/javascript" src="/javascripts/markup_generators/comment.js"></script>

<% if(post.imports.indexOf('syntax-highlighting') != -1) { %>
<link rel="stylesheet" href="/stylesheets/syntaxhighlighter-3.0.83/shCoreCustom.css" />
<link rel="stylesheet" href="/stylesheets/syntaxhighlighter-3.0.83/shThemeCustom.css" />
<script type="text/javascript" src="/javascripts/syntaxhighlighter-3.0.83/shCore.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter-3.0.83/shBrushJava.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter-3.0.83/shBrushSql.js"></script>
<% } %>

<script type="text/javascript">
  $(document).ready(function() {
    <% if(post.imports.indexOf('syntax-highlighting') != -1) { %>
       SyntaxHighlighter.all();
    <% } %>
    
    doc = $(document);

    $("article#new_comments").find("form").ajaxForm({
      success: function(data) {
        if(data.error) {
          console.log("Beim Speichern ist ein Fehler aufgetreten.");
        } else {
          var commentArticle = $(generateCommentMarkup(data.comment));
          $('#comments').append(commentArticle);
        }
      },
      dataType: 'json'
    });
  });
</script>
  
<article class="post">
    <time datetime="2011-10-14" pubdate="pubdate">
        <ul>
            <li><%= post.day() %></li>
            <li><%= post.monthName() %></li>
            <li><%= post.year() %></li>
        </ul>
    </time>
    <hgroup>
        <h1><%= post.title %></h1>
        <h2><%= author.name %> schrieb für Blatt <%= post.sheet %> und Fehlernummer <%= post.nr %>:</h2>
    </hgroup>
    <section id="content">
        <%- post.content %>
    </section>
</article>

<div id="comments">
  <% for(var i=0; i<post.comments.length; i++) { %>
    <%- generateCommentMarkup(post.comments[i]) %>
  <% } %>
</div>

<article id="new_comments">
  Neuer Kommentar:<br>
  <form method="GET" action="/comment/create">
    <input type="hidden" name="postId" value="<%- post._id %>" />
    Name: <input type="text" name="name" /><br>
    Inhalt: <textarea name="content"></textarea><br>
    <input type="submit" />
  </form>
</article>




