<nav id="sidebar">
    <% if(!(typeof(sidebar) === 'undefined' || sidebar == [])) { %>
    <ul>
        <% sidebar.forEach(function(menu) {
        var name = menu.name
          , id = name.replace(/\s+/, '');
        %>
        <li id="<%= id %>">
            <a href="#<%= id %>"><%= name %></a>
            <ul>
                <% menu.items.forEach(function(item) { %>
                <li><a href="<%= item.link %>"><%= item.name %></a></li>
                <% }); %>
            </ul>
        </li>
        <% }); %>
    </ul>
    <% } %>
    <% if(typeof(request.session.user) !== 'undefined') { %>
        <ul>
            <li id="profile">
                <a href="#profile">Profil</a>
                <ul>
                    <li><a href="/session/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    <% } %>
    <ul>
        <li id="legalnotice">
            <a href="#legalnotice">Impressum</a>
            <ul>
                <li><a href="/legalnotice">Impressum</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </li>
    </ul>
</nav>