<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/reset.css" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
        <link rel="stylesheet" href="/stylesheets/header.css" />
        <link rel="stylesheet" href="/stylesheets/article.css" />
        <link rel="stylesheet" href="/stylesheets/aside.css" />
        <link rel="stylesheet" href="/stylesheets/lightbox.css" />
        <link rel="stylesheet" href="/stylesheets/progress.css" />
        <link rel="stylesheet" href="/stylesheets/calender.css" />
        <script src="/javascripts/jquery-1.6.4.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>
    </head>
    <body>
        <div id="body">
            <%- partial('header') %>

            <aside>
                <%- partial('calender') %>

                <%- partial('sidebar') %>

                <br style="clear: both" />
            </aside>

            <%- body %>
        </div>
        
        <% if(typeof(footer) !== 'undefined') { %>
            <%- footer %>
        <% } %>
        
        <%- partial('lightbox') %>
    </body>
</html>