<% if(post.imports.indexOf('syntax-highlighting') != -1) { %>
<link rel="stylesheet" href="/stylesheets/syntaxhighlighter-3.0.83/shCoreCustom.css" />
<link rel="stylesheet" href="/stylesheets/syntaxhighlighter-3.0.83/shThemeCustom.css" />
<script type="text/javascript" src="/javascripts/syntaxhighlighter-3.0.83/shCore.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter-3.0.83/shBrushJava.js"></script>
<script type="text/javascript" src="/javascripts/syntaxhighlighter-3.0.83/shBrushSql.js"></script>
<% } %>

<article class="post">
    <time datetime="2011-10-14" pubdate="pubdate">
        <ul>
            <li><%= post.day() %></li>
            <li><%= post.monthName() %></li>
            <li><%= post.year() %></li>
        </ul>
    </time>
    <hgroup>
        <h1><%= post.title %></h1>
        <h2><%= author.name %> schrieb für Blatt <%= post.sheet %> und Fehlernummer <%= post.nr %>:</h2>
    </hgroup>
    <section id="content">
        <%- post.content %>
    </section>
</article>